.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 100px;
}

.links {
    display: flex;
    margin-right: 570px;
    align-items: center;
    gap: 10px;
}

.link:hover {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: var(--bgSoft);
}

.logo{
    font-size: 36px;
    font-weight: bold;
    background-color: #000000; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Add some space around the text */
    border-radius: 5px; /* Optional: Rounded corners */
    display: inline-block; /* Ensure the background only covers the text */
}

.logo:hover {
    font-size: 36px;
    font-weight: bold;
    background-color: rgb(35, 35, 36);
}


@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    .logo {
        padding: 0;
        font-size: 16px;
        margin-right: 20px;
        white-space: nowrap; /* Prevent wrapping */
        display: inline-block;
    }

    .logo:hover {
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(35, 35, 36);
}

}