:root {
    --bg: black;
    --bgSoft: rgb(31, 41, 101);
    --text: white;
    --textSoft: rgb(14, 12, 12);
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

/* Single Page Head */

.SingleHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.SingleHeadTexts {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.singleHeadTitle {
    align-items: center;
    font-size: 48px;
}

.singleHeadDetail {
}

.SingleTag {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--bgSoft);
    color: var(--textSoft);
    font-size: 14px;
}
.singleHeadDesc {
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}

.SingleBottom { 
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;
}

.SingleContent {
    flex: 3;
    font-size: 23px;
    line-height: 32px;
}
/* Single Page Head ends */

.SingleContent p{
    margin-bottom: 1.5em;
}
.SingleContent h1{
    text-align: center;
    margin: 20px 0;
    align-items: center;
}

.SingleContent h2{
    text-align: center;
    margin: 20px 0;
    align-items: center;
    margin-bottom: 30px;
}
.SingleContent h3{
    text-align: center;
    margin: 20px 0;
    align-items: center;
}
.SingleContent img{
    width: 100%;
    object-fit: cover;
}

.SingleContent pre{
    width: 100%;
    overflow-x: scroll;
    padding: 20px;
}


a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: black;
    color:  var(--text);
    background-image: url('/images/back8.png'); 
    background-size: 13px 13px;
    padding-bottom: 200px;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;

}

code {
    padding: 0.2em;
    font-family: "Source code pro", monospace;
    color:rgb(50, 130, 39)
}

.container {
    max-width: 70%;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--textSoft);
    flex-direction: column;
    box-shadow: 0px -2px 2px rgba(2, 2, 2, 0.6);
    justify-content: space-between;
}

.listItem { 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    justify-content: flex-start;
}

.listItemTexts:hover {
    background-color: rgb(31, 41, 101, 0.4);
    outline: 9px solid rgb(31, 41, 101, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.listItemTexts {
    min-width: 699px; /* Minimum width */
    min-height: 49px; 
    display: flex;
    flex-direction: column;
    gap: 9px;
}


.listItemDetail{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.page-item {
    border: 1px solid gray;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.page-item.disabled {
    background-color: gray;
    cursor: not-allowed;
}

.page-item.active {
    background-color: black;
}

@media (max-width:1536px) {
    .container {
        max-width: 1366px;
    }
    .SingleContent {
        display: grid;
    }
}
@media (max-width:1536px) {
    .container {
        max-width: 1280px;
    }
    .SingleContent {
        display: grid;
    }
}
@media (max-width:1280px) {
    .container {
        max-width: 1024px;
    }
    .SingleContent {
        display: grid;
    }
}
@media (max-width:1024px) {
    .container {
        max-width: 768px;
    }
    .SingleContent {
        display: grid;
    } 
    .listItem{
        display: grid;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    .singleHeadTitle {
        font-size: 14px;
    }
    .SingleContent {
        display: grid;
        font-size: 14px;
        line-height: 20px;
    }
    .singleHeadDesc {
        font-size: 12px;
    }
    .listItemTexts {
        display: grid;
        font-size: 6px;
        line-height: 11px;
    }
}
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
    .singleHeadTitle {
        font-size: 14px;
    }
    .singleHeadDesc {
        font-size: 12px;
    }
    .SingleContent {
        display: grid;
        font-size: 14px;
        line-height: 20px;
    }
}