{{ define "main" }}
<div class="single">
    <div class="SingleHead"></div>
        <div class="SingleHeadTexts">
            <h1 class="singleHeadTitle">{{.Title}}</h1>
            <p class="singleHeadDesc">{{.Params.description}}</p>
            <div class="singleHeadDetail"></div>
            {{ range (.GetTerms "tags")}}
            <a href="{{.Permalink}}" class="SingleTag">{{.Name}}</a>
            {{end}}
        </div>
        
    <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    <div class="SingleBottom">
        <div class="SingleContent">
            {{.Content}}
        </div>
    </div>
</div>
{{ end }}