{{ define "main" }}
<div class="list">
    {{ range .Paginator.Pages }}
    <div class="listItem">
    <div class="listItemTexts">
        <h1 class="listItemTitle">
            <a href={{.Permalink}}>{{.Title}}</a>
        </h1>
        <p class="listItemDesc">{{.Params.description}}</p>
        <div class="listItemDetail">
           <time>{{ dateFormat .Site.Params.dateFormat  .Date }}</time>
        </div>
        <div class="listItemTags">
            {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}" class="listItemTags">{{ .Name }}</a>
            {{ end }}
        </div>
    </div>
    {{ end }} {{ template "_internal/pagination.html" . }}
</div>
{{ end }}