<div class="footer">
    <div class="footerLinks">
        <a href="/">teoman.sh</a> •
        <a href="/tags">tags</a> •
        <a href="/sitemap.xml">sitemap</a>
    </div>
    <div class="social">
    </div>
</div>