<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">
    <div class="logo">
        <a href="/">./teoman.sh</a>
    </div>
    <div class="links">
    <a class="link" href="/">homepage</a>
    <a class="link" href="/tags">tags</a>
    </div>
</nav>